@model IEnumerable<Trisatech.Kamlinko.WebApp.ViewModels.ProdukViewModel>
@{
    ViewData["Title"] = "Daftar Produk";
    Layout = "_AdminLayout";
    int i = 0;
}

<h3>Data Produk</h3>
<table>
    <thead>
        <th>No</th>
        <th>Nama</th>
        <th>Deskripsi</th>
        <th>Action</th>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                i++;
                <tr>
                    <td>@i</td>
                    <td>
                        @foreach (var kategori in item.Kategories)
                        {
                            <img src="@kategori.Icon" height="32" />
                            <p>@kategori.Nama</p>
                        }
                    </td>
                    <td><img src="@item.Gambar" height="100" /></td>
                    <td>@item.Nama</td>
                    <td>@item.Deskripsi</td>
                    <td>
                        <a href="kategori/detail/@item.Id">Detail</a>
                        <a href="kategori/delete/@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }else {
            <tr>
                <td colspan="4">Data kosong</td>
            </tr>
        }
    </tbody>
</table>