@using System.Globalization
@model Trisatech.Kamlinko.WebApp.ViewModels.ProdukDetailViewModel
@{
    ViewData["Title"] = "Home Page";
}

<section class="product_section layout_padding2-top layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                @Model.Nama
            </h2>
            <p>
                @Model.Deskripsi
            </p>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-4">
                <div class="box">
                    <div class="img-box">
                        <img src="~/@Model.GambarSrc" alt="">
                    </div>
                    <div class="detail-box">
                        <span class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        </span>
                        <span>Terjual : @Model.Terjual</span>
                        <span>Stok : @Model.Stok</span>
                        <div class="price_box">
                            <h6 class="price_heading">
                                @Model.Harga.ToString("C", new CultureInfo("id-ID"))
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="box">
                    <p>@Model.Deskripsi</p>
                    <form asp-action="Add" asp-controller="Keranjang" method="post">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="produkId" value="@Model.Id" />
                        <button class="btn btn-primary" type="submit" value="Tambahkan ke Keranjang">Tambahkan ke
                            keranjang</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="">
                View All
            </a>
        </div>
    </div>
</section>
