@using System.Globalization
@using Trisatech.Kamlinko.WebApp.ViewModels
@model List<Trisatech.Kamlinko.WebApp.ViewModels.OrderViewModel>
@{
    ViewData["Title"] = "Daftar Pesanan";
    Layout = "_AdminLayout";
    int i = 0;
    int halamanSekarang = ViewBag.HalamanSekarang ?? 1;
}

<div class="row">
  <form asp-action="Index" asp-controller="Order">
  <div class="col-md-4">
    <input type="date" name="date" value="@ViewBag.FilterDate">@ViewBag.FilterDate</input>
  </div>
  <div class="col-md-4">
    <select asp-items="@ViewBag.StatusList" name="status">

    </select>
  </div>
  <div class="col-md-4">
    <input type="submit" value="Cari" />
  </div>
  </form>
</div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#OrderID</th>
      <th scope="col">No Transaksi</th>
      <th scope="col">Tgl Transaksi</th>
      <th scope="col">Status</th>
      <th scope="col">Total bayar</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var item in Model)
      {      
        <tr>
        <th scope="row">@item.Id</th>
        <td>@Html.ActionLink(string.Format("#{0}-{1}", item.Id, item.TglOrder.ToShortDateString()), "Detail", "Order", new {
            id = item.Id 
            })</td>
        <td>@item.TglOrder.ToLongDateString() @item.TglOrder.ToLongTimeString()</td>
        <td>@item.Status</td>
        <td>@item.TotalBayar.ToString("C", new CultureInfo("id-ID"))</td>
        </tr>   
      }
    </tbody>
</table>


@{
    Html.RenderPartial("PaginationView", new PaginationViewModel
    {
        Action = "Index",
        Controller = "Order",
        CurrentPage = halamanSekarang,
        TotalData = Model.Count
    });
}

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function(){
            
        });
    </script>
}