@using Alkademi.Bootcamp.HelloWebApp.Models
@model List<Tweet>
@{
    ViewData["Title"] = "Detail";
}
@foreach (var item in Model)
    {
    <div>
            <h4>@item.User.Username</h4> 
            <img src="@item.User.ProfileImageLink" height="50"></img>
    </div>
    <hr />
    <div class="text-center">
        
            <h3 class="display-4">@item.Title</h3>
            <h2>@item.Desc</h2>
            <img src="@item.LinkImage"/>
    </div>

    }

