@model IEnumerable<Alkademi.Bootcamp.HelloWebApp.Models.TweetViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @foreach (var item in Model)
    {

        <h4>@item.User.Username</h4> 
        <img src="@item.User.ProfileImageLink" height="50"></img>  
        <h1 class="display-4">@item.Title</h1>
        <h2>@item.Desc</h2>
        <img src="@item.LinkImage"/>
    }
</div>
